@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Clinic</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Our Clinic</h2>
        <p>
            Our Clinic is a private clinic, performing medical examination and treatment activities in order to ensure health care and disease treatment to a certain extent within the scope of permitted professional activities.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Patient Registration</h2>
        <p>You need to register patient form to be able to do booking.</p>
        <p><a class="btn btn-default" href="https://localhost:7037/Patients">Register here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Booking</h2>
        <p>You can book according to Doctor Visit schedule.</p>
        <p><a class="btn btn-default" href="https://localhost:7037/Bookings">Book here &raquo;</a></p>
    </div>
</div>

